VITE_SUPABASE_URL=https://ydotwccgzjwgqmdgxgtx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlkb3R3Y2Nnemp3Z3FtZGd4Z3R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk0OTgyODksImV4cCI6MjA2NTA3NDI4OX0.G-AWkObWJVcOgOQPY5LqJwSt5ARWvt_ons-1yJs1NQ8